.main {
  .copertina {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      object-fit: contain;
      padding-bottom: 40px;
    }
    h4,
    h5 {
      padding: 20px;
      font-size: 14pt;
    }
    h5 {
      font-style: italic;
      padding-top: 3px;
    }
    p {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 20px;
    }
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(216, 216, 216);
      text-decoration: none;
      padding: 10px;
      text-transform: uppercase;
      font-size: 15pt;
      margin-bottom: 30px;
    }
    .link:hover {
      background-color: rgb(170, 170, 170);
    }
  }

  .form {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      margin: 10px;
      border: 0;
      border-bottom: 1px solid rgb(216, 216, 216);
      padding: 15px 10px;
      width: 50%;
    }

    .submit {
      display: flex;
      justify-content: center;
      background-color: rgba(128, 128, 128, 0.369);
      border: 0;
    }

    .submit:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.572);
    }

    .divForm {
      display: flex;
      padding: 20px;
    }
  }
  .footer {
    width: 100%;
    border-top: 1px solid rgb(216, 216, 216);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  a {
    cursor: pointer;
  }
}

@media (min-width: 1400px) {
  .main {
    .copertina {
      p {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
      }
    }
    .form {
      width: 100%;
      padding-left: 60px;
      padding-right: 60px;
    }
    .divForm {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
