@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
.main {
  .copertina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 80%;
      object-fit: contain;
    }

    p {
      font-family: "Manrope", sans-serif;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom: 20px;
    }
    .link {
      font-family: "Manrope", sans-serif;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eee534c3;
      text-decoration: none;
      padding: 10px;
      text-transform: uppercase;
      font-size: 15pt;
      margin-bottom: 30px;
    }
    .link:hover {
      background-color: #eee534;
    }
  }
  .iscrizione {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h4,
    h5,
    h6 {
      font-family: "Manrope", sans-serif;
      font-weight: 600;
      text-align: center;
      padding: 20px;
      font-size: 14pt;
    }
    h5,
    h6 {
      font-style: italic;
      padding-bottom: 20px;
    }

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      margin-bottom: 30px;
    }
    p {
      font-family: "Manrope", sans-serif;
      font-weight: 500;
      background-color: #eee534c3;
      padding: 10px;
      font-size: 15pt;
      margin-bottom: 40px;
    }
    p:hover {
      background-color: #eee534;
    }
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    input {
      margin: 10px;
      border: 0;
      border-bottom: 1px solid rgb(216, 216, 216);
      padding: 15px 10px;
      width: 70%;
    }

    .submit {
      display: flex;
      justify-content: center;
      background-color: rgba(128, 128, 128, 0.369);
      border: 0;
    }

    .submit:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.572);
    }

    .divForm {
      display: flex;
      padding: 20px;

      p {
        font-family: "Manrope", sans-serif;
        text-align: center;
      }
    }
  }
  .footer {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  a {
    cursor: pointer;
  }
}

@media (min-width: 1400px) {
  .main {
    .copertina {
      p {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 20px;
      }
    }
    .form {
      font-size: 14pt;
      padding-left: 60px;
      padding-right: 60px;
    }
    .divForm {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
}
